{% extends "base.html" %}

{% block title %}List of wallets{% endblock %}

{% block content %}    
    <h1>Matches list</h1>
    <table class="table">
      <thead>
        <tr>
          <th>By</th>
          <th>Name</th>
          <th>Pot size</th>
          <th>Type</th>
          <th>Creation date</th>
        </tr>
      </thead>
      <tbody>
        {% for m in latest_matches_list %}
          <tr>
            <td>{{ m.owner }}</td>
            <td>{{ m.name }}</td>
            <td>{{ m.pot }}</td>
            <td>{{ m.type }}</td>
            <td>{{ m.creation_date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}